<h1>Create Books</h1>
<br>
<button class="btn btn-secondary" routerLink="/">Quay lại List Students</button>
<br>
<br>
<br>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>PhoneNumber</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input [(ngModel)]="name"></td>
    <td><input [(ngModel)]="address"></td>
    <td><input [(ngModel)]="phoneNumber"></td>
    <td><button class="btn btn-secondary" (click)="createStudent()">Create</button></td>
  </tr>
  </tbody>
</table>
